# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
a=s.split()

In [3]:
a

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {planet} is {measure} kilometers".format(planet="Earth", measure=12742))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d['k1'][3]['tricky'][3] ['target'][3]

'hello'

# Numpy

In [8]:
import numpy as np

## 4.1 Create an array of 10 zeros?

In [9]:
var=np.zeros(10)

In [10]:
var

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## 4.2 creating an array of 10 ones?

In [11]:
var=np.ones(10)

In [12]:
var

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## 5. Create an array of all the even integers from 20 to 35

In [13]:
a=np.arange(20,36,2)

In [14]:
a

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [15]:
a=np.array([[[0,1,2],[3,4,5],[6,7,8]]])

In [16]:
a

array([[[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]]])

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [17]:
a=np.array([1,2,3])

In [18]:
b=np.array([4,5,6])

In [19]:
a

array([1, 2, 3])

In [20]:
b

array([4, 5, 6])

In [21]:
np.hstack((a,b))

array([1, 2, 3, 4, 5, 6])

In [22]:
np.vstack((a,b))

array([[1, 2, 3],
       [4, 5, 6]])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [23]:
import pandas as pd

In [24]:
df=pd.DataFrame({'No. of absent':[4,5,6],'No. of present':[8,9,5]},index=['Class A','Class B','Class C'])

In [25]:
df

         No. of absent  No. of present
Class A              4               8
Class B              5               9
Class C              6               5

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [26]:
pd.date_range(start='1/1/2023',end='10/2/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [27]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [28]:
df=pd.DataFrame(lists)

In [29]:
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24